<form>
<label>Blog Title</label><input type="text" id="BlogTitle">
<label>Blog Post</label><input type="text" id="BlogPost">
<button type="submit" id="blogButton">Submit</button>
</form>
<script src="/js/newblog.js"></script>