<div>
    <div>
    <label>Enter email</label><input type="text" id="textInput">
    <label>Enter password</label><input type="password" id="passwordInput">
    <button id="buttonId">Register</button>
</div>
</div>
<script src="/js/register.js"></script>